beanie~=1.28.0
motor~=3.6.0
app~=0.0.1
fastapi~=0.115.5
config~=0.5.1
pydantic-settings~=2.7.1
pydantic~=2.10.1
starlette~=0.41.3
PyJWT~=2.10.1
passlib~=1.7.4
requests~=2.32.3
uvicorn~=0.32.1
pip~=24.3.1
cryptography~=44.0.0
Jinja2~=3.1.4
python-multipart~=0.0.19
pydantic[email]